.pie {
    background-color: #8405FF;
    color: #FFFFFF;
}
.col4 {
    background-color: #D8B1FF;
}
.h5 {
    color: #8405FF;
}
.padin_arib {
    padding-top: 20px;
}
.titulos {
}


.body {
    background-color: #E9DDFF;
}
.pading_text {
    padding-top: 40px;
}
.subtitulo {
    color: #AFB900;
}


.paddings {
    padding-left: 50px;
    padding-right: 50px;
}
